.site-nav {
    @media (min-width: 1336px) {
        // position: relative;
        // top: 118px;
    }

    &__link {
        display: block;
        margin-bottom: 32px;
    }

    &--margin-vertical {
        margin-bottom: 20px;

        @media (min-width: 1336px) {
            margin-top: 40px;
        }

        @media (min-width: 769px) and (max-width: 1335px) {
            margin-top: 70px;
        }
       
    }
}